.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    float: left;
}

.navbar a:hover{
    background-color: black;
}