.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    float: left;
}

.navbar a:hover{
    background-color: black;
}

.wrapper{
    width: 1000px;
    background: gray;
    border: 2px solid rgba(255, 255, 255, 2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper .input-box{
    position: relative;
    margin: 30px;
}

.input-box input{
    width: 500px;
    height: 10px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.btn button{
    margin: 30px;
    width: 575px;
    height: 45px;

}